/* basic */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight: normal; }
ol, ul { list-style: none; }
a { text-decoration: none; color: #333333; }
a:hover { text-decoration: none; color: #bf0b16 }
fieldset, img { border: 0; }
button, input, select, textarea { font-size: 100%; border: 0; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
body { color: #333333; background: #FFF; font-size: 14px; font-family: "微软雅黑", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1"; }
.clear{ clear:both; height:1px; width:100%;}
.span-cut { padding: 0 10px; }
/* main container */
.mian-container { width: 100%; background: url(../images/top-bg.jpg) no-repeat top center; }
/* header container */
.header { width: 100%; }
.header .header-nav-background { width: 100%; height: 40px; border-bottom: 1px solid #cdf1fb; position: absolute; top: 0; left: 0; background: #FFF; filter: alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6; opacity: 0.6; z-index: 1 }
.header .header-nav { width: 1000px; margin: 0 auto; height: 40px; z-index: 2; position: relative }
.header .header-nav-left { float: left; height: 40px; line-height: 40px; color: #757575; }
.header .header-nav-left a { color: #757575; }
.header .header-nav-left a:hover { color: #bf0b16 }
.header .header-nav-right { float: right; height: 28px; padding: 6px 0; }
.header .header-search { height: 26px; border: 1px solid #dcdcdc; background: #FFF; }
.header .header-search input { float: left }
.header .header-search .keywords { height: 14px; padding: 6px; background: #FFF; width: 170px; }
.header .header-search .btn { height: 14px; width: 35px; background: url(../images/icon@pc.png) no-repeat 0 0; margin: 6px 0; border-left: 1px solid #dcdcdc }
.header .header-banner { width: 1000px; margin: 0 auto; height: 170px; position: relative; }
.header .header-banner .site-name { width: 800px; height: 57px; background: url(../images/site-name.png) no-repeat 0 0; position: absolute; left: 10px; top: 50%; margin-top: -28px; z-index:2 }
.header .header-banner .site-slider{position: absolute; right: 10px; top: 0; width:230px; height:170px;overflow:hidden;  z-index:1}
.header .header-banner .site-slider ul li, .header .header-banner .site-slider img{width:230px; height:170px; }
.header .header-banner .site-slider img{filter: alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6; opacity: 0.6;}
.header .header-menu { width: 1000px; margin: 0 auto; height: 40px; border-bottom: 2px solid #0e4b92; position: relative }
.header .header-menu-background { width: 100%; height: 40px; position: absolute; top: 0; left: 0; background: #FFF; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; z-index: 1 }
.header .header-menu-nav { width: 1000px; height: 40px; position: absolute; top: 0; left: 0; z-index: 2; overflow: hidden }
.header .header-menu-nav ul { width: 1002px; overflow: hidden }
.header .header-menu-nav ul li { width: 165px; ; height: 40px; float: left; margin-right: 2px; }
.header .header-menu-nav ul li a { display: block; width: 100%; height: 40px; line-height: 40px; color: #2c5e98; font-size: 16px; text-align: center }
.header .header-menu-nav ul li a:hover, .header .header-menu-nav ul li a.on { background: #0e4b92; color: #FFF; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; }
/* content container */
.content { width:1000px; margin: 0 auto; margin-bottom:30px;}
.theCurrent{ border:1px #eee solid; height:48px; line-height:48px; color:#333; font-size:14px; background:#FFF; padding-left:15px; margin-bottom:30px;}
.content-left{ width:268px;float:left; margin-right:30px; background:#FFF;}
.title{ border-bottom:2px #0e4b92 solid; margin:0 10px 10px;}
.title h2{ font-size:22px; line-height:44px; color:#bf0b16; padding-left:5px; padding-top:5px; border-bottom:2px #bf0b16 solid; margin-bottom:-2px; width:100px;}
.blk1{ margin-bottom:20px;  border:1px #eee solid; padding-bottom:15px; }
.blk1 ul li a{ display:block; line-height:54px; font-size:18px; padding-left:15px;}
.blk1 ul li .hover{ background:url(../images/title-icon.png) 230px center no-repeat #f6f6f6; }
.blk2{ border:1px #eee solid; padding-bottom:15px; }
.blk2 ul{ background:url(../images/blk2-bg.gif) 10px 9px no-repeat; padding-left:45px;}
.blk2 ul li{ line-height:35px; font-size: 14px; height: 35px; overflow: hidden; width: 205px;}
.content-right{ width:698px; border:1px #eee solid; float:left; background:#FFF; overflow:hidden;}
.content-right ul{ padding:0 15px;}
	/* text-list */
.content-right .text-list li{ padding:10px 0; border-bottom:1px #e5e5e5 dashed;}
.content-right .text-list h3 a{font-size:18px; line-height:36px; display:block; width:540px; float:left;} 
.content-right .text-list h3 span{ font-size:14px; color:#888;  display:block; line-height:36px; float:right;}
.content-right .text-list p{ font-size:14px; color:#888; line-height:24px;} 
	/* video-list */
.content-right .video-list{ width:675px; padding-top:10px;}
.content-right .video-list li{ width:210px; margin-right:15px; margin-bottom:20px; float:left; position:relative;}
.content-right .video-list p{ padding:0 5px; text-align:center; line-height:22px; height:44px; overflow:hidden;} 
.video-icon{ position:absolute; top:30%; left:40%;}
	/* page */
.page{ padding:40px 90px;}
.page a{ display:block; float:left; border:1px solid #ccc; height:28px; line-height:28px; padding:0 10px; margin-right:3px;}

	/* content-content */
.content-content{ width:868px; border:1px #eee solid; background:#FFF; padding:30px 65px; }
.content-content .headings{ text-align:center; margin-bottom:30px; }
.content-content .headings h3{ border-bottom:2px #0e4b92 solid; font-size:24px; line-height:48px; color:#0e4b92; }
.content-content .headings span{ line-height:40px; color:#888;}
.content-content .picture{ text-align:center; margin-bottom:20px;  padding-top:20px;}
.content-content .picture h6{ font-family:"方正楷体简体"; font-size:16px; line-height:32px; text-align:left; text-indent:2em; color:#000; } 
.content-content p{ font-size:16px; line-height:36px; margin-bottom:10px; text-indent:2em;}

	/* hudong-list */
.forms{ padding:0 15px;}
.forms h4{ font-size:18px; border-bottom:1px #d8d8d8 solid; line-height:40px; color:#a10000; margin-bottom:20px;}
.forms p{ line-height: 34px; margin-bottom: 20px;}
.forms .btn { text-align:center;}
.forms .btn input{ width:105px; margin-left:25px;}
.btn-l{ background:#ce0f0f; color:#FFF;}

.forms label{ width:120px; font-size:14px; color:#616161; text-align:right; display:inline-block; vertical-align:top; }
.forms label span{ color:#a10000;}
.forms input{ border: 1px solid #dfdfdf; height: 28px; width: 250px; border-radius: 3px; box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.07) inset;
  margin-left: 10px; padding: 2px 5px; outline: 0 none;}
.forms input[type="radio"]{ border:0}
.forms textarea{ border:1px solid #dfdfdf; width:460px; border-radius: 3px; box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.07) inset;
  margin-left: 10px; padding: 2px 5px; outline:0 none; line-height:28px;} 
.hudong-list{ padding:0 15px;}  
.hudong-list h4{ font-size:18px; border-bottom:1px #d8d8d8 solid; line-height:40px; color:#a10000; margin-bottom:20px;}  
.hudong-list li{ padding:10px 0; border-bottom:1px #e5e5e5 dashed;}
.hudong-list h3 {font-size:18px; line-height:36px; } 
.hudong-list li p{ font-size:14px; color:#888; line-height:24px;}
.hudong-list li span{ font-size:12px; color:#939393; font-family:"宋体"; display:block; float:right;}
     /* content-content-e-ti 每月e题 */
.content-e-ti .banner{ background:url(../images/eti.png) center top no-repeat; height:70px; padding-top:120px;}
.content-e-ti .banner h2{ background:url(../images/eti-title.png) center top no-repeat; height:36px; line-height:36px; text-align:center; color:#FFF; font-size:20px;}
.e-ti-top{ background:url(../images/e-ti-bg.png) center top no-repeat; height:27px;}
.e-ti-content{ width:930px; padding:0 20px; border:1px #eee solid; border-top:none; margin:auto;}
.e-ti-t{ margin-bottom:25px;}
.e-ti-t h3{ font-size:30px; text-align:center; color:#0e4b92; line-height:2em;}
.e-ti-t p{ font-size:18px; text-indent:2em; line-height:2em; margin-bottom:10px;}
.e-ti-l{ width:220px; margin-right:30px; float:left;}
.e-ti-r{ width:680px; float:left;}
.blkz{ border:1px #eee solid; margin-bottom:25px;}
.e-ti-title{ background:#fbfbfb; border-bottom:1px #eee solid; height:40px;}
.e-ti-title h4{ font-size:18px; line-height:40px; padding-left:10px;}
.e-ti-title h4 span{ color:#a10000;}
.e-ti-title h4 a{ text-decoration:underline; color:#3aa3d8;}
.e-ti-title h4 a:hover{color:#bb0000;}
.e-ti-blk1 p{ padding:10px; text-indent:2em; line-height:2em;}
.e-ti-blk2 ul{ padding:10px;}
.e-ti-blk2 ul li{ margin-bottom:10px;}
.e-ti-blk2 ul span{ display:block; color:#bb0000;}
.e-ti-blk2 ul a{ line-height:1.5em; color:#3aa3d8;}
.e-ti-blk3 .xz{ padding:10px;}
.e-ti-blk3 .xz p{text-indent:2em; line-height:1.5em;}
.e-ti-blk4 ul{ padding:20px;}
.e-ti-blk4 li{ border-bottom:1px #505050 dashed; padding-bottom:15px; margin-bottom:20px;} 
.e-ti-blk4 li span em{ color:#0088cf; font-style:normal;}
.e-ti-blk4 li p{ font-size:16px; line-height:2em;} 
.e-ti-blk5 .e-ti-title{ margin-bottom:20px;}
     /* content-ffcl 反腐倡廉登记预约 */
.ffcl .banner{ background:url(../images/ffcl-bg.jpg) center top; height:345px; margin-bottom:30px;}
.ffcl .main{ border:1px #eee solid; padding:15px; width:968px; margin:auto; overflow:hidden; margin-bottom:30px;}
.ffcl .main .main-l{ float:left; width:436px; margin-right:30px; border:1px #eee solid;}
.ffcl .main .ffcl-title{ background:#fbfbfb; border-bottom:1px #eee solid; height:40px;}
.ffcl .main .ffcl-title h4{ font-size:18px; line-height:40px; padding-left:10px;}
.ffcl .main .main-r{ float:left; width:498px;  border:1px #eee solid;}
.ffcl .main .ffcl-blk{ padding:10px;}
.ffcl .main .main-l ul{ border-bottom:1px #eee dashed;padding-bottom:10px; margin-bottom:15px;}
.ffcl .main .main-l ul li{ line-height:2em; }
	/* 二级单页 */
.content-right .danye{ border-bottom:2px #0e4b92 solid; margin:0 10px 10px;}
.content-right .danye h2{ text-align:center; font-size:22px; line-height:44px; color:#000; }
.danye-list { padding:15px; }
.danye-list p{font-size:16px; line-height:36px; margin-bottom:10px; text-indent:2em;}
   /* list-search 搜索列表页 */
.list-search .title{ margin:auto;}
.list-search .title p{ float:right;  font-size:16px; line-height:44px; padding-top:5px; }
.list-search .title p span{color:#bf0b16;}
.list-search .text-list{ padding:20px 15px;}
.list-search .text-list li{ padding:10px 0; border-bottom:1px #e5e5e5 dashed;}
.list-search .text-list h3 a{font-size:18px; line-height:36px; display:block;  float:left;} 
.list-search .text-list h3 span{ font-size:14px; color:#888;  display:block; line-height:36px; float:right;}
.list-search .text-list p{ font-size:14px; color:#888; line-height:24px;} 
    /* content-xuncha  巡查信箱 */
.content-xuncha{ width:868px; border:1px #eee solid; background:#FFF; padding:30px 65px;}
.content-xuncha td{ line-height:3em;}
   /* content-tijiao  巡查信箱提交 */
.content-tijiao{ width:868px; border:1px #eee solid; background:#FFF; padding:30px 65px;}
.content-tijiao .forms .line{ border-bottom:1px #d8d8d8 solid; margin-bottom:25px; padding-top:20px;}
.content-tijiao .forms label{ width:200px;}
.content-tijiao .forms p{ margin-bottom:10px;}
.content-tijiao .forms .jbfs{ text-align:center; height:40px; line-height:40px; font-size:20px;}
.content-tijiao .forms .jbfs input{ width:20px; height:20px; box-shadow:none; padding-right:10px;}
.content-tijiao .forms .f-bt{ font-size:20px; font-weight:bold; }
.content-tijiao .forms .xz input{ width:100px; margin-left:0;}
.content-tijiao .forms table { margin:auto; margin-bottom:20px;}
.content-tijiao .forms table input{ width:100px; }



/* footer container */
.footer{ width:100%; background:url(../images/footer-bg.png) repeat-x 0 0; padding:70px 0;}
.footer-nav{ width:1000px; margin:0 auto;} 
.footer-nav p{ font-size:12px; line-height:24px; text-align:center}