<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="configExample" class="cn.gov.model.ConfigExample" />
	
	<bean id="userExample" class="cn.gov.model.UserExample" />
	
	<bean id="organizationExample" class="cn.gov.model.OrganizationExample" />
	
	<bean id="categoryExample" class="cn.gov.model.CategoryExample" />
	
	<bean id="articleExample" class="cn.gov.model.ArticleExample" />
	
	<bean id="linksExample" class="cn.gov.model.LinksExample" />
	
	<bean id="logExample" class="cn.gov.model.LogExample" />
	
	<bean id="messageExample" class="cn.gov.model.MessageExample" />
</beans>
