<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="userService" class="cn.gov.service.impl.UserServiceImpl"
		autowire="byName" />
		
	<bean id="configService" class="cn.gov.service.impl.ConfigServiceImpl"
		autowire="byName" init-method="initCache" />
		
	<bean id="categoryService" class="cn.gov.service.impl.CategoryServiceImpl"
		autowire="byName" init-method="initCache" />
		
	<bean id="articleService" class="cn.gov.service.impl.ArticleServiceImpl"
		autowire="byName" />
		
	<bean id="linksService" class="cn.gov.service.impl.LinksServiceImpl"
		autowire="byName" init-method="initCache" />
		
	<bean id="logService" class="cn.gov.service.impl.LogServiceImpl"
		autowire="byName" />
		
	<bean id="messageService" class="cn.gov.service.impl.MessageServiceImpl"
		autowire="byName" />

	<bean id="resourceService" class="cn.gov.service.impl.ResourceServiceImpl" autowire="byName" />

	<bean id="sourceService" class="cn.gov.service.impl.SourceServiceImpl" autowire="byName" />

	<bean id="positionService" class="cn.gov.service.impl.PositionServiceImpl" autowire="byName" />

	<bean id="ipForbidService" class="cn.gov.service.impl.IpForbidServiceImpl" autowire="byName" init-method="initCache" />

	<bean id="linkCategoryService" class="cn.gov.service.impl.LinkCategoryServiceImpl" autowire="byName" />

	<bean id="appointmentService" class="cn.gov.service.impl.AppointmentServiceImpl" autowire="byName" />

	<bean id="topicService" class="cn.gov.service.impl.TopicServiceImpl" autowire="byName" />
</beans>
